

*{
	padding: 0;
	margin: 0;
}
img{
	border: none;
}
li{
	list-style: none;
}
a{
	text-decoration: none;	
}


body{
	width: 100%;
	height: 100%;
	position: relative;
}
.bg{
	width: 100%;
	height: 100%;
	background: #4F4A4A;	
	opacity: 0.5;

}
.bg-main{
	width: 1000px;
	height: 684px;
	margin: 0 auto;
	clear: both;
	padding-top: 70px;
}
.box-logo{
	width: 545px;
	height: 133px;
	margin: 0 auto;
	text-align: center;
	padding-top: 27px;
	
	
}
.main{
	width: 565px;
	height: 640px;
	margin: 0 auto;
	
}
.phone{
	width: 565px;
	height: 50px;
}
.phone span{
	width: 56px;
	height: 50px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	opacity: 0.9;
	padding-right: 20px;
	text-align: center;
	line-height: 50px;
}

.box-phone input{
	width: 300px;
	height: 50px;
	border: 0;
	float: left;
	line-height: 50px;
	color: #fff;
	opacity: 0.99;
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
}
