

*{
	padding: 0;
	margin: 0;
}
img{
	border: none;
}
li{
	list-style: none;
}
a{
	text-decoration: none;	
}


body{
	width: 100%;
	height: 100%;
	position: relative;
}
.bg{
	width: 100%;
	height: 100%;
	background: #999999;	
	

}
.bg-main{
	width: 1000px;
	height: 684px;
	margin: 0 auto;
	clear: both;
	padding-top: 70px;
}
.box-logo{
	width: 485px;
	height: 133px;
	margin: 0 auto;
	text-align: center;
	padding-top: 17px;
	padding-right: 60px;
	
}
.main{
	width: 565px;
	height: 640px;
	margin: 0 auto;
	
}
/*phone*/
.phone{
	width: 565px;
	height: 50px;
	margin: 10px 0;
}
.phone span{
	width: 56px;
	height: 50px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	opacity: 0.9;
	padding-right: 20px;
	
	line-height: 50px;
	margin-right: 10px;
}

.box-phone input{
	width: 300px;
	height: 50px;
	border: 0;
	float: left;
	line-height: 50px;
	color: black;
	opacity: 0.99;
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
}
input{
	outline: none;
	
}
span{
	text-align:left;
	
}
/*code*/

/*num*/
.num{
	width: 565px;
	height: 50px;
	margin: 10px 0;
	position: relative;
}
.num-span{
	width: 56px;
	height: 50px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	opacity: 0.9;
	padding-right: 20px;
	
	line-height: 50px;
	margin-right: 10px;
}

.box-num input{
	width: 300px;
	height: 50px;
	border: 0;
	float: left;
	line-height: 50px;
	color: black;
	opacity: 0.99;
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
}
/*numT*/
.numT{
	width: 565px;
	height: 50px;
	margin: 10px 0;
}
.numT-span{
	width: 56px;
	height: 50px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	opacity: 0.9;
	padding-right: 20px;
	
	line-height: 50px;
	margin-right: 10px;
}

.box-numT input{
	width: 300px;
	height: 50px;
	border: 0;
	float: left;
	line-height: 50px;
	color: black;
	opacity: 0.99;
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
}

/*按钮 同意*/
.checkbox{
	width: 565px;
	height: 50px;
	margin: 10px 0;
	position: relative;
	left: 85px;
	top: 20px;	
}

.agree{
	width: 320px;
	height: 19px;
	position: absolute;
}
.agree label{
	color: beige;
	font-size: 12px;
	margin-left: 5px;
	position: absolute;top: 1px;
}
.checkbox>span{
	font-size: 12px;
	position: absolute;left:250px ;
	top: 2px;
}
.checkbox>span>a{
	color: white;
}
.loginbox{
	width: 320px;
	height: 50px;
	background: black;
	border: 0;
	cursor: pointer;
	font-size: 18px;
	margin-top: 9px;
	margin-bottom: 30px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 18px;
	color: white;
	line-height: 50px;
	text-align: center;
	position: relative;
	left: 87px;	
}
.bgloginbox{
	background: ;
}




.join{
	width: 320px;
	height: 40px;
	position: relative;
	left: 90px;
}
.join ul li{
	width: 24px;
	height: 22px;
	float: left;
	margin-left: 10px;
}
.loginLc{
	width: 56px;
	height: 23px;
	float: right;
	border-bottom: 1px solid white;
}

.loginLc a{
	color: white;
	font-size: 14px;
}

/*右下角 固定定位*/
.bg-r{
	width: 137px;
	height: 40px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	cursor: pointer;
}
.text-bg-r{
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	opacity: 0.8;
	margin-right: 20px;
	float: left;
	line-height: 40px;
}
.bg-r>img{
	width: 40px;
	height: 40px;
	float: right;
}
